:root {
    /* Шрифты */
    --mainFont: 'Open Sans';
    --secondaryFont: 'Roboto Slab';

    /* Цвета */
    --secondaryColor: #3d4449;
    --mainColor: #7f888f;
    --accentColor: #f56a6a;
    --navigationBgColor: #f5f6f7;
    --searchBgColor: #f0f0f0;
    --borderColor: #DCDCDC;

}

body {
    font-family: var(--mainFont);
    display: flex;
    margin: 0;
    padding: 0;
}
h1, h3, h4, .subtitle{font-family: var(--secondaryFont);}
.block,
.statistics-element {
    display: flex;
    gap: 20px
}

.news-block {
    border-top: 3px solid var(--borderColor);
    padding-top: 46px;
    margin-top: 46px;
}

.card-text {
font-family: var(--mainFont);
color: var(--mainColor);
font-size: 14px;
border-bottom: 0.5px solid var(--borderColor);
padding-bottom: 30px;
padding-top: 5px;
}

.picture {
    margin-top: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.news-block .picture {
    width: 272px;
    height: 169px;
}

.picture img {
    width: 100%;
    height: 100%;
}

.side-menu {
    padding-bottom: 17px;
    background-color: var(--navigationBgColor);
}

.subheader {
    border-bottom: 5px solid var(--accentColor);
    padding-bottom: 14px;
}

.main-part {
    padding: 73px 73px 0px 73px;
}

.search-field {
    width: 100%;
    height: 40px;
    padding-left: 14px;
    padding-right: 40px;
    color: var(--mainColor);
}

.search-block {
    padding: 22px;
    background-color: var(--searchBgColor);
    /* до него дойдет ::after если задать ему position: absolute */
    position: relative;
}

.search-block::after {
    /* обязательное поле */
    content: '';
    /* чтобы можно было задавать размеры */
    display: block;
    /* размеры */
    width: 40px;
    height: 40px;
    /* url - это путь к иконке.
    center - это положение картинки в блоке
    no-repeat - не дублировать изображение, если оно не занимает все доступное пространство */
    background: url('./assets/loupe.png') center no-repeat;
    /* нужно для того, чтобы элемент не сдвигал другие элементы */
    /* прикрепляется к ближайшему элементу, у которого position: relative; */
    position: absolute;
    /* положение элемента относительно ближайшего position: relative */
    right: 22px;
    top: 22px;
    transform: rotateY(180deg);
}

.subheader {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.link {
    /* Размещение в линию */
    display: flex;
    gap: 15px;
    
}

.link a {
    /* Размер блока ссылок */
    width: 20px;
    height: 20px;
}

.link img {
    /* Размещение во весь блок */
    width: 100%;
    height: 100%;
}

.menu-title, .news-header, .posts-title {
    border-bottom: 3px solid var(--accentColor);
    padding-bottom: 8px;
    display: inline-block;
    padding-right: 14px;
}
.menu-list{
list-style: none;
padding-left: 0px;
}
.menu-item{
    font-family: var(--secondaryFont);
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid var(--borderColor);

}
.menu-item:last-child {
    border: none;
}
.menu-link{
    text-transform: uppercase;
    text-decoration: solid;
    color: var(--secondaryColor);
}
.menu-link:hover{
    color: var(--accentColor);
}
.menu-with-news{
    padding: 22px 22px 17px 22px;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
